body{background-color: rgb(198, 219, 198);
color:rgb(0, 0, 0);
margin: 0px;
font-family: "Courier Prime", monospace;}
header{border-bottom:solid 3px rgb(7, 109, 7);
    padding: 20px;
    font-size: 35px;
    color: rgb(0, 0, 0)
}
    .chamada{background-color: rgb(253, 253, 253);
    padding-bottom: 10px;
    padding-top: 1px;
    }